In [8]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import pandas_datareader as wb

In [9]:
ticker = ['PG','BEI.DE']
sec_data = pd.DataFrame()

for t in ticker:
    sec_data[t] = wb.DataReader(t,data_source = 'yahoo',start='2007-1-1')['Adj Close']

In [10]:
sec_returns = np.log(sec_data/sec_data.shift(1))

In [11]:
sec_data.tail()

                    PG     BEI.DE
Date
2020-11-20  139.300003  97.099998
2020-11-23  138.759995  95.480003
2020-11-24  138.309998  93.639999
2020-11-25  138.679993  95.120003
2020-11-27  138.610001  94.900002

In [13]:
print(sec_returns)

PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006544
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002202  0.000202
2007-01-09 -0.002517 -0.022858
...              ...       ...
2020-11-20 -0.001650  0.000000
2020-11-23 -0.003884 -0.016825
2020-11-24 -0.003248 -0.019459
2020-11-25  0.002672  0.015682
2020-11-27 -0.000505 -0.002316

[3502 rows x 2 columns]

In [ ]:
sec_returns['PG'].mean()
sec_returns['PG'].std()
sec_returns['PG'].std()*250**0.5